<section id="sponsors">
    <div class="container-fluid">
        <div class="row text-center">
            <h2 class="section-heading">Sponsors</h2>
            <hr class="light">
        </div>
        {% include _sponsors.html sponsors=site.data.sponsors %}
        <div class="row text-center">
            <p>
                You are interested in becoming a sponsor for hack.commit.push Switzerland?<br />
                Please send an email to <a href="mailto:marcus@fihlon.swiss">Marcus Fihlon <i class="fa fa-external-link" aria-hidden="true"></i></a> for more information.
            </p>
        </div>
    </div>
</section>
