<section id="venue">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <h2 class="section-heading">Venue</h2>
                <hr class="light">
                <p>We are beyond elated to be <strong>back on site</strong> after two virtual editions.</p>
                <p>Thanks a lot to <a target="_blank" rel="noopener" href="https://www.hslu.ch">Hochschule Luzern</a> for
                    accommodating us!</p>
                <dl>
                    <dt>Address</dt>
                    <dd><a target="_blank" rel="noopener" href="https://www.hslu.ch">Hochschule Luzern</a> &middot; <a
                            class="localization" target="_blank" rel="noopener"
                            href="https://maps.app.goo.gl/9WsjXCUSLvExUEM6A">Suurstoffi 1, CH-6343 Rotkreuz</a></dd>
                    <dt>Closest stop</dt>
                    <dd>Rotkreuz</dd>
                </dl>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2713.737573062134!2d8.429832576936299!3d47.143407171151196!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x479000294b9f60a3%3A0x379fdac2ee44c9dc!2sSuurstoffi%201%2C%206343%20Rotkreuz!5e0!3m2!1sen!2sch!4v1716399030237!5m2!1sen!2sch" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
</section>